body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-table, #result_label, .autocomplete-suggestions {
    margin-top: 20px;
}

.highlight {
    background-color: #5fb453 !important; /* Enhanced contrast for visibility */
}

#result_label {
    font-weight: bold;
}

.autocomplete-suggestions {
    position: absolute;
    z-index: 1000;
    width: calc(100% - 20px);
    background: white;
    border: 1px solid #ddd;
    border-top: none;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.autocomplete-suggestions li {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.autocomplete-suggestions li:hover {
    background-color: #f0f0f0;
}

.result-text {
    font-weight: bold;
    font-size: 1.2em;
    color: #5fb453; /* Consistent color scheme */
}
